body {
    max-width: 100%;
}
header {
    display: block;
}

img {
    border-radius: 50%;
    margin-bottom: 0px;
}

label {
    display: inline;
}
.backend-controls {
	display: flex;
    flex-direction: row;
	align-items: center;
	gap: .2em;
    margin-bottom: 20px;
}

#buttons {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

#buttons > button:first-child {
    margin-bottom: 10px;
}
#user_info img {
	max-width: 100px;
}

#app:not(.logged-in) :is(#save_button, #logout_button, #user_info),
#app.logged-in #login_button {
	display: none;
}

#add_entry_button {
    margin-bottom: 10px;
}

.loader {
	width: 1em;
	height: 1em;
}

#app:not(.loading) .show-on-loading,
#app:not(.saving) .show-on-saving {
	display: none;
}